@use "sass:math";
@import "./ClassAndSkill.scss";
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

#mapleCC {
    $rem: math.div(1rem, 16) ;

    font-family: 'Gamja Flower', cursive !important;

    width: 100%;
    max-width: $rem*600;
    margin: 0 auto;
    background: #000c;
    border: {
        width: $rem*3;
        style:solid;
        color: #000c;
        radius:$rem*16;
    }
    box-sizing: border-box;
    position: relative;

    & > .title {
        color: #ffa500dd;
        text-align: center;
        margin: $rem*8;
        margin-bottom: 0;
        font-size: $rem*24 !important;
    }

    .target {
        color: #f55e !important;
    }
}