@use 'sass:math';

#Calculator {
    $rem: math.div(1rem, 16);

    width: calc(100% - #{$rem} * 8);
    margin: 0 auto;
    padding: $rem*8 0;

    .inline {
        display: inline-block;
    }

    p {
        color: white;
        font: {
            size: $rem*20 !important;
            weight: bold;
        };
        margin: 0;
    }

    & > div {
        border-bottom: $rem solid #777;
    }

    .coreList, .targetList {
        .title {
            padding-left: $rem*8;
        }

        .list {
            min-height: $rem*38;

            .coreImg {
                display: inline-block;
                position: relative;
                vertical-align: top;

                width: $rem*34;
                height: $rem*40;

                img {
                    position: absolute;
                }
            }
        }

        img {
            margin: $rem;
        }
    }

    .coreList .list {
        max-height: $rem*80;
        overflow-y: scroll;
    }

    .setting {
        padding: 0 $rem*8 $rem*6;

        p {
            margin: $rem*2 0;
        }

        input {
            display: none;

            &:disabled + label{
                color: #777;
            }
        }

        & > label {
            display: inline-block;
            cursor: pointer;
            padding: $rem;
            margin: $rem*2;
            border: $rem*2 solid white;
            border-radius: $rem*4;
            box-sizing: border-box;

            color: white;
            font: {
                size: $rem*16 !important;
                weight: bold;
            };
        }
    }

    .option {
        margin: $rem*2 0;
        padding: $rem*4 0 $rem*6;
        .title {
            color: white;
            font: {
                size: $rem*14 !important;
                weight: bold;
            };
            border: $rem solid white;
            border-radius: $rem*4;
            padding: $rem*2;
        }
        vertical-align: top;

        .list {
            width: calc(100% - #{$rem} * 70);
            vertical-align: top;

            .item {
                margin-left: $rem*2;
                width: calc(100% / 3 - #{$rem}*2);
                color: white;
                font: {
                    size: $rem*16 !important;
                    weight: bold;
                };
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                vertical-align: top;

                label {
                    cursor: pointer;

                    input {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .status {
        margin: $rem*2 0;
        padding: $rem*4 0;

        & > p {
            text-align: center;
            &.title {
                font-size: $rem*24 !important;
                text-decoration: underline;
            }

            span {
                font-size: $rem*24 !important;
            }
        }

        input {
            display: none;

            &.moveRight + label {
                position: relative;
                left: 50%;
            }
        }

        label {
            cursor: pointer;
            padding: $rem*2;
            margin: $rem*2;
            display: inline-block;
            width: calc(100% / 2 - #{$rem} * 4);
            text-align: center;
            color: white;
            font: {
                size: $rem*20 !important;
                weight: bold;
            };
            border: $rem*2 solid white;
            box-sizing: border-box;
            border-radius: $rem*4;
        }
    }
}