@use 'sass:math';
@import './ClassSelector.scss';

#Class{
    $rem: math.div(1rem , 16);
    width: calc(100% - #{$rem} * 2);
    height: $rem*375;
    margin: 0 auto $rem*8;

    background: {
        repeat: no-repeat !important;
        position: 50% $rem*40 !important;
        size: auto $rem*335 !important;
    };

    .select_class{
        width: 100%;
        max-width: $rem * 360;
        margin: $rem*8 auto;
    }
}