@use 'sass:math';
@import './CoreItem.scss';
@import './CoreInfo.scss';
@import './CoreManagementModal.scss';
@import './ImgMatching.scss';

#CoreManagement {
    $rem: math.div(1rem, 16);

    margin: $rem*8 0;

    .listBorder {
        display: inline-block;
        vertical-align: top;

        box-sizing: border-box;
        width: $rem*366;
        height: $rem*357;
        border: {
            width: $rem*4;
            style: solid;
            color: transparent;
            image: linear-gradient(180deg, transparent 10%, #327891, #32577f, #29444d);
            image-width: $rem*4;
            image-slice: 1;
        };
        padding: $rem*4;

        .list {
            position: relative;
            width: $rem*350;
            height: $rem*341;
        }
    }
}