@use 'sass:math';
@import './V_matrixBtns.scss';

#CoreInfo {
    $rem: math.div(1rem, 16);

    display: inline-block;
    vertical-align: top;
    width: calc(100% - #{$rem}*366);
    height: $rem*383;
    position: relative;

    .text {
        margin: $rem*4;
        width: calc(100% - #{$rem} *8);

        .coreName {
            margin: 0;
            margin-bottom: $rem*16;
            width: 100%;
            height: $rem*48;

            color: white;

            font: {
                size: $rem*20 !important;
                weight: bold;
            };
        }

        .skillInfo {
            height: $rem*50;
            margin-top: $rem*8;

            p {
                margin: $rem*2 0;

                color: white;

                font: {
                    size: $rem*18 !important;
                    weight: bold;
                };

                .limit {
                    display: inline-block;
                    max-width: calc(100% - #{$rem} * 36);
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    vertical-align: top;
                }
            }

            .position {
                margin-bottom: 0;
    
                .class {
                    color: #fff;
                    font: {
                        size: $rem*14 !important;
                        weight: bold;
                    };
                    padding: $rem*2;
                    border: $rem solid white;
                    border-radius: $rem*4;
                }

                input {
                    display: none;
                }

                label {
                    margin-left: $rem*4;
                    cursor: pointer;
                    display: inline-block;
                    color: red;
                    font: {
                        size: $rem*12 !important;
                        weight: bold;
                    };

                    svg {
                        width: $rem*18;
                        height: $rem*18;
                        vertical-align: bottom;
                        transform: rotate(45deg);

                        circle {
                            stroke: red;
                            stroke-width: $rem*2;
                            stroke-linecap: round;
                            fill: none;
                        }

                        path {
                            stroke: red;
                            stroke-width: $rem*4;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            fill: none;
                        }
                    }
                }
            }            
        }
    }
}